name: Brains Build and Push (Multi-Arch)

on:
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y buildah fuse-overlayfs iptables podman slirp4netns uidmap xz-utils
          mkdir -p $HOME/.docker

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Nix Cache
        uses: scaffoldly/cache-nix-action@main
        with:
          key: ${{ runner.os }}-nix-store-${{ hashFiles('flake.nix', 'flake.lock') }} 

      - name: Build
        run: |
          amd64image=$(buildah from docker-archive:$(nix build .#dockerImage.brains.x86_64-linux --print-out-paths))
          arm64image=$(buildah from docker-archive:$(nix build .#dockerImage.brains.aarch64-linux --print-out-paths))

          manifest=$(buildah manifest create ghcr.io/cnuss/brains:${{ github.sha }})
          buildah manifest add ${manifest} containers-storage:$(buildah inspect --format '{{.FromImageID}}' ${amd64image})
          buildah manifest add ${manifest} containers-storage:$(buildah inspect --format '{{.FromImageID}}' ${arm64image})

      - name: Push to registry
        uses: redhat-actions/push-to-registry@v2
        with:
          registry: ghcr.io
          image: cnuss/brains
          tags: ${{ github.sha }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
